/* remove margins on typography to keep margins consistent */
h1,
h2,
h3,
p {
  margin: 0;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

header {
  text-align: center;
  background-color: yellow;
  padding: 50px;
}

header,
section {
  padding: 50px;
}

h1 {
  font-size: 24px;
}

p {
  font-size: 18px;
}

a {
  color: #ffe600;
}

.accent-color {
  color: #ffe600;
}

.card {
  width: 450px;
  margin: 0 auto;
  border: 1px solid black;
}

.section1 {
  background-color: black;
}

.section1 p,
.section1 h2 {
  color: white;
}

.btn {
  display: inline-block;
  padding: 10px 25px;
  font-weight: 700;
  text-decoration: none;
  margin-top: 30px;
}

.section1 .btn {
  background-color: #ffe600;
  color: black;
}

.section1 .btn:hover {
  background-color: white;
  color: black;
}

.section2 h2,
p {
  color: black;
}

.section2 .btn {
  background-color: black;
  color: #ffe600;
}

.section2 .btn:hover {
  background-color: #ffe600;
  color: black;
}

.section2 a {
  color: black;
}
