/* remove margins on typography to keep margins consistent */
h1,
h2,
h3,
p {
  margin: 0;
}

header {
  text-align: center;
  background-color: yellow;
  padding: 25px 15px;
}
h1 {
  font-size: 24px;
}

p {
  font-size: 18px;
}

a {
  color: #ffe600;
}

.accent-color {
  color: #ffe600;
}

.card {
  width: 450px;
  margin: 0 auto;
  border: 1px solid black;
}

.section1 {
  background-color: black;
  padding: 35px 35px;
}

.section1 p,
.section1 h2 {
  color: white;
}

.section2 {
  padding: 35px 35px;
}

.section1 .btn {
  display: inline-block;
  padding: 15px 30px;
  background-color: #ffe600;
  color: black;
}

.section2 h2,
p {
  color: black;
}

.section2 .btn {
  display: inline-block;
  padding: 15px 30px;
  background-color: black;
  color: #ffe600;
}
