html {
  /* prevent font scaling issues */
  font-size: 18px;
}

/* remove margins on typography to keep margins consistent */
h1,
h2,
h3,
p {
  margin: 0;
}

body {
  margin: 0;
  /* prevent font scaling issues */
  font-size: 1rem;
  font-family: "Lato", sans-serif;
  color: #2e354f;
}

h1,
h2 {
  font-weight: 900;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
  color: #ef5839;
}

p {
  padding: 10px 0px;
}

header,
section {
  padding: 50px;
}

header {
  background-color: #2e354f;
  color: #fff;
}

/* adjust for responsiveness */
img {
  width: 100%;
  padding: 10px 0px 0px 0px;
}

/* for "em"font-size is inherited from body if not on parent element */
/* em is percentage of parent. 1=100% */
/*  em can have problem where using em's on parent object results in multiple multiplications - switch to rem to avoid*/
/* rem only inherits from root element */
ul {
  font-size: 1rem;
}

a {
  color: #ef5839;
}

a:hover {
  color: red;
}

/* .section-one {
} */

.section-two {
  background-color: #2e354f;
}

.section-two p {
  color: white;
}

.accent {
  font-weight: 900;
}

/* percentage determined relative to parent size */
/* if parent is a block level element default width is 100% */
.card {
  width: 90%;
  max-width: 620px;
  min-width: 325px;
  margin: 0 auto;
  border: 1px solid black;
}

/* button styling  */

.btn {
  display: inline-block;
  padding: 10px 25px;
  font-weight: 900;
  text-decoration: none;
  margin: 15px 10px 0px 0px;
}

.dark {
  background-color: #ef5839;
  color: white;
}

.dark:hover {
  background-color: white;
  color: #ef5839;
}

.dark:focus {
  background-color: white;
  color: #ef5839;
}

.light {
  background-color: white;
  color: #2e354f;
}

.light:hover {
  background-color: #2e354f;
  color: white;
}

.light:focus {
  background-color: #2e354f;
  color: white;
}
