html {
  font-size: 0.9rem;
}

/* remove margins on typography to keep margins consistent */
h1,
h2,
h3,
p {
  margin: 0;
}

body {
  margin: 0;
  text-align: center;
  font-family: "Roboto", sans-serif;

  font-weight: 300;
}

h1,
h2 {
  font-weight: 300;
}
h1 {
  font-size: 3.75rem;
  padding-bottom: 1em;
}

h2 {
  font-size: 2.625rem;
  padding: 0.5em 0;
  border-top: 1px solid #c4c4c4;
  border-bottom: 1px solid #c4c4c4;
}

h3 {
  font-size: 2.25rem;
  font-weight: 900;
  margin-top: 1em;
}

p {
  padding: 1em 0px 0px;
}
header,
section {
  padding: 6.25em 0;
}

.margin-bottom {
  margin-bottom: 0;
}

.inverse {
  background-color: #252525;
  color: #fff;
}
a {
  color: #99d930;
  font-weight: 900;
}
a:hover,
a:focus {
  color: #131313;
}
.small {
  font-size: 1rem;
  padding-top: 0;
}

.accent-text {
  display: block;
}

.name,
time,
.accent-text {
  font-weight: 900;
  color: #99d930;
}

h1 .accent-text {
  font-size: 5rem;
}

h2 .accent-text {
  font-size: 3.75rem;
}

.container {
  /* make responsive at all sizes */
  max-width: 570px;
  width: 90%;
  margin: 0 auto;
}

.btn {
  display: inline-block;
  margin-top: 1.5625em;
  text-decoration: none;
  background-color: #99d930;
  color: #252525;
  padding: 0.625em 1.5625em;
}

.btn:hover,
.btn:focus {
  background-color: #252525;
  color: #fff;
}

/* avoid side scrolling due to images being too big on small screens */
img {
  max-width: 100%;
}

@media (min-width: 600px) {
  html {
    font-size: 1.3125rem;
  }
}

@media (min-width: 750px) {
  .splitter {
    display: flex;
    justify-content: center;
  }

  .articles.inverse {
    background-color: #99d930;
    color: #252525;
  }

  .articles.inverse a,
  .articles.inverse span,
  .articles.inverse time {
    /* inherits from parent */
    color: currentColor;
  }

  /* .articles .accent-text {
    color: white;
  } */

  .articles.inverse .btn {
    color: #99d930;
    background-color: #252525;
  }

  .articles.inverse .btn:hover,
  .articles.inverse .btn:focus {
    background-color: #fff;
    color: #252525;
  }

  .articles.inverse h2 {
    border-top: 1px solid #252525;
    border-bottom: 1px solid #252525;
  }
}
