/* remove margins on typography to keep margins consistent */
h1,
h2,
h3,
p {
  margin: 0;
}

body {
  margin: 0;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 21px;
  font-weight: 300;
}

h1,
h2 {
  font-weight: 300;
}
h1 {
  font-size: 60px;
  padding-bottom: 40px;
}

h2 {
  font-size: 42px;
}

h3 {
  font-size: 36px;
  font-weight: 900;
  margin-top: 20px;
}

P {
  padding: 20px 0px 0px;
}
header,
section {
  padding: 100px 0;
}

.margin-bottom {
  margin-bottom: 0;
}

.inverse {
  background-color: #252525;
  color: #fff;
}
a {
  color: #99d930;
  font-weight: 900;
}
a:hover,
a:focus {
  color: #131313;
}
.small {
  font-size: 16px;
  padding-top: 0;
}

.bold-text {
  display: block;
  font-weight: 900;
}

.bold-text h1 {
  font-size: 80px;
}

.bold-text h2 {
  font-size: 60px;
}
.container {
  width: 570px;
  margin: 0 auto;
}
